@use "@/sass/helpers/variables" as v;
@use "@/sass/helpers/mixins.scss" as m;

.promo {
  padding-bottom: 5rem;
  &__inner {
  }
}

.search {
  margin-bottom: 2rem;
  position: relative;

  &__btn {
    position: absolute;
    right: 0;
    aspect-ratio: 1 / 1;
    width: 2rem;
    bottom: 0;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;

  @include m.mw(v.$dt) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include m.mw(v.$tb) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }
}

.marker {
  flex-grow: 1;
  cursor: pointer;
  transition: 0.3s;
  background-color: #c4d1d7;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;

  @include m.hocus() {
    opacity: 0.7;
  }

  &__title {
    font-size: 1.2rem;
    text-align: center;
    align-self: center;
    margin-bottom: 0.5rem;
  }

  &__addr {
    font-size: 1rem;
  }
}

.coordinates {
  display: flex;
  flex-direction: column;
  row-gap: 0.1rem;
  &__item {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }
}

.map {
  width: 100%;
  position: relative;
  height: 66vh;
}
